@import "../../styles/mixing.scss";
@import "../../styles/variables.scss";

.projects_main {
  @include fl-col-ctr;
  margin: 5em auto;
}

.projects_container {
  @include fl-row-ctr;
  gap: 5em;
  margin: 5em auto;
  flex-wrap: wrap;
}

.project_card {
  @include fl-col-ctr;
  justify-content: space-around;
  color: $text-light;
  background: $brandColorDark;
  border-radius: 1em;
  width: 26em;
  height: 40em;
  overflow: hidden;
  box-shadow: rgba(89, 89, 89, 0.35) 0px 5px 15px;

  .project_describe {
    width: 80%;
  }

  .project_link {
    text-align: center;
    text-decoration: none;
    color: $text-dark;
    background: $brandColorLight;
    border-radius: 1em;
    font-size: 1.3em;
    height: 1.8em;
    padding: 0.1em;
    width: 9em;
    transition: 0.5s;
    box-shadow: rgba(89, 89, 89, 0.35) 0px 5px 15px;
  }

  .project_link:hover {
    border: 2px solid $text-grey;
    background: $brandColorDark;
    color: $text-grey;
  }
}

.project_image_container {
  width: 85%;
  height: 18em;
  overflow: hidden;
  border-radius: 1em;

  img {
    width: 32em;
  }
}

@media screen and (max-width: 600px) {
  .project_card {
    width: 80vw;
  }
}
