@import "../../styles/mixing.scss";
@import "../../styles/variables.scss";

#about {
  p {
    color: $text-dark;
    font-size: 1.5rem;
  }

  .about_container {
    margin-top: 2em;
    @include fl-col-ctr;
  }

  .about_imageContainer {
    img {
      width: 100%;
      max-width: 390px;
    }
  }
}
