@import "../../styles/mixing.scss";
@import "../../styles/variables.scss";

.home_main {
  @include fl-col-ctr;
  height: 80vh;

  .myPic {
    height: 30em;
    clip-path: circle();
    box-shadow: rgba(89, 89, 89, 0.35) 0px 5px 15px;
  }

  .button_list {
    @include fl-row-ctr;

    .btn {
      border-radius: 1em;
      font-size: 1.3em;
      height: 1.8em;
      margin: 0 1em;
      width: 9em;
      cursor: pointer;
      box-shadow: rgba(89, 89, 89, 0.35) 0px 5px 15px;
    }
    .line {
      background-color: transparent;
      border: 2px solid $text-grey;
      color: $text-grey;
      transition: 0.5s;
    }

    .line:hover {
      border: none;
      background: $brandColorDark;
      color: $text-dark;
    }

    .solid {
      border: 0;
      color: $text-dark;
      background: $brandColorLight;
      transition: 0.5s;
    }

    .solid:hover {
      background: $brandColorDark;
      color: $text-grey;
    }
  }
}

@media screen and (max-width: 600px) {
  .home_main {
    height: 100vh;

    .myPic {
      height: 20em;
    }

    .button_list {
      .btn {
        font-size: 1em;
        margin: 0.5em;
      }
    }
  }
}
