@import "../../styles/body.scss";
@import "../../styles/mixing.scss";
@import "../../styles/variables.scss";

.home_main {
  @include fl-col-ctr;
  height: 100vh;

  .myPic {
    height: 30em;
    clip-path: circle();
  }

  .button_list {
    @include fl-row-ctr;

    .btn {
      border-radius: 1em;
      font-size: 1.3em;
      height: 1.8em;
      margin: 0 1em;
      width: 9em;
    }
    .line {
      background-color: transparent;
      border: 2px solid $text-grey;
      color: $text-grey;
    }
    .solid {
      border: 0;
      color: $text-dark;
      background: $brandColorLight;
    }
  }
}
