@import "./styles/variables.scss";
@import "./styles/mixing.scss";

h1 {
  color: $text-dark;
  font-size: 2em;
}

h4 {
  color: $text-grey;
  font-weight: 400;
}

.contact {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;

  align-items: center;
  height: 100vh;
  width: 3em;

  ul {
    @include fl-col-ctr;
    height: 30%;
    justify-content: space-between;

    li {
      font-size: 2em;
      color: $text-grey;
      opacity: 60%;
    }
  }
}

.footer {
  ul {
    @include fl-row-ctr;
  }
}
